body{
    background: ghostwhite;
}
#list-styles li a {
    color:black;
    float:right;
    font-weight: 700;
}
#logo{
    max-width:28%;
}
#dish-items{
    background:gainsboro;
}
#error-image{
    margin:0 auto;
    width:fit-content;
}
#error-text{
    color:peru;
}
ul li{
    list-style-type:none;
}